<html lang=”en”>
<!-- source : https://blog.prototypr.io/make-a-camera-web-app-tutorial-part-1-ec284af8dddf  -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Name of your awesome camera app -->
    <title>GI Project</title>

    <!-- Link to your main style sheet-->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Camera -->
    <main id="camera">

        <!-- Camera sensor -->
        <canvas id="camera--sensor"></canvas>

        <!-- Camera view -->
        <video id="camera--view" autoplay playsinline></video>

        <!-- Camera output -->
        <img src="//:0" alt="" id="camera--output">

        <!-- Camera trigger -->
        <button id="camera--trigger">Take a picture</button>

    </main>

    <!-- Reference to your JavaScript file -->
    <!-- script src="/static/js/app.js"></script-->
    <script>

    // Set constraints for the video stream
    var constraints = { video: { facingMode: "back" }, audio: false };

    // Define constants
    const cameraView = document.querySelector("#camera--view"),
        cameraOutput = document.querySelector("#camera--output"),
        cameraSensor = document.querySelector("#camera--sensor"),
        cameraTrigger = document.querySelector("#camera--trigger"),
        saveTrigger = document.querySelector("#save--trigger")

    // Access the device camera and stream to cameraView
    function cameraStart() {
        navigator.mediaDevices
            .getUserMedia(constraints)
            .then(function(stream) {
            track = stream.getTracks()[0];
            cameraView.srcObject = stream;
        })
        .catch(function(error) {
            console.error("Oops. Something is broken.", error);
        });
    }

    // Take a picture when cameraTrigger is tapped
    cameraTrigger.onclick = function() {
        cameraSensor.width = cameraView.videoWidth;
        cameraSensor.height = cameraView.videoHeight;
        cameraSensor.getContext("2d").drawImage(cameraView, 0, 0);
        cameraOutput.src = cameraSensor.toDataURL("image/jpeg");
        cameraOutput.classList.add("taken");
        var img_data = cameraOutput.src;
        //img_data = img_data.replace(/\+/g, '%2B');
        //img_data = img_data.replace(/\//g, '%2F');
        //img_data = img_data.replace(/\=/g, '%3D');
        $.ajax({
            type: "POST",
            url: "/project_post",
            data: JSON.stringify({"img": img_data}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function() {
                console.log(img_data);
                console.log("POST Successful");
            },
            fail: function(e) {
                console.log("sending failed, error: " + e);
            }
        });
    };

    // Start the video stream when the window loads
     window.addEventListener("load", cameraStart, false);
    </script>
</body>
</html>
